language: cpp
sudo: false
matrix:
  include:
    - compiler: gcc
      env: PYTHONV=python2.7 FLAGS=--optimize=4
    - compiler: clang
      env: PYTHONV=python3 FLAGS=--installer
    - compiler: clang
      env: PYTHONV=python2.7 FLAGS=--override=STDFLOAT_DOUBLE=1
    - os: osx
      env: PYTHONV=python2.7 FLAGS=--universal
addons:
  apt:
    packages:
    - bison
    - flex
    - libfreetype6-dev
    - libgl1-mesa-dev
    - libjpeg-dev
    - libode-dev
    - libopenal-dev
    - libpng-dev
    - libssl-dev
    - libvorbis-dev
    - libx11-dev
    - libxcursor-dev
    - libxrandr-dev
    - nvidia-cg-toolkit
    - python-dev
    - python3-dev
    - zlib1g-dev
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then curl -o panda3d-1.9.3-tools-mac.tar.gz 'https://www.panda3d.org/download/panda3d-1.9.3/panda3d-1.9.3-tools-mac.tar.gz' > /dev/null ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then gunzip -f -o . -c panda3d-1.9.3-tools-mac.tar.gz | tar xopf - | ls -R . ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew install openssl && brew link --force openssl ; fi
script: $PYTHONV makepanda/makepanda.py --everything --git-commit $TRAVIS_COMMIT $FLAGS --threads 4 && LD_LIBRARY_PATH=built/lib PYTHONPATH=built $PYTHONV makepanda/test_imports.py
#notifications:
#  irc:
#    channels:
#      - "chat.freenode.net#panda3d"
#    on_success: change
#    on_failure: always
#    use_notice: true
#    skip_join: true
